<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje</title>
    <!-- Enlace a TailwindCSS desde CDN -->
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>
<body class="bg-blue-50 flex justify-center items-center h-screen">
<div class="text-center p-8 bg-white shadow-lg rounded-lg">
    <h1 class="text-xl font-bold text-gray-700">¡Enhorabuena Michael Joseph!</h1>
    <p class="text-gray-600">Has desplegado con éxito tu aplicación en Kubernetes.</p>
</div>
</body>
</html>
